@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; /* Add this for better layout control */
}
body {
background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); 
    font-family: "Bricolage Grotesque", sans-serif;
  color: white;
}

.main {
  padding: 5px;
  width: 800px;
  height: 100%;
  background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); 
  margin-left: auto;
  margin-right: auto;
}

.top-picture {
  padding: 3px;
  width: 800px;
  height: 275px;
  background-image: url("Welcome to select.png");
  margin-left: auto;
  margin-right: auto;
}
